{% extends 'admin/master.html' %}

{% block title %}
Admin | Login
{% endblock title%}

{% block brand %}
<div class="navbar-brand">
<svg height="90" width="200">
    <text x="10" y="20" style="font-family: 'megrim';fill:red;">
      Task Manager
    </text>
  </svg>
</div>
{% endblock brand %}
{% block body %}
{% if current_user.is_authenticated %}
 
  <div class="logo">
    <a>Hi<br>{{ current_user.name }}!</a>
  </div>
{% else %}
    <center>
    <form method="post" action="{{ url_for('admin_html_blueprint.admin_login') }}">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <input type="submit" />
    </form>
    {% if request.args.get('error', False)%}
      <p style="color: brown;">{{request.args.get('error')}}</p>
    {% endif %}
    </center>
{% endif %}
{% endblock body %}

{% block access_control %}
<ul class="nav navbar-nav navbar-right">

    {% if current_user.is_authenticated %}
        <li>
            <a href="{{ url_for('admin_html_blueprint.admin_logout') }}">Logout</a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('admin.index') }}">Login</a>
        </li>
    {% endif %}

</ul>
{% endblock access_control %}
