_database_type = <DBTYPE>
_database_name = <DBNAME>
_host = <DBHOST>
_port = <DBPORT>
_username = <DBUUSERNAME>
_password = <DBPASSWORD>

SQLALCHEMY_DATABASE_URI = f'{_database_type}://{_username}:{_password}@{_host}:{_port}/{_database_name}'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_POOL_RECYCLE = 500
SQLALCHEMY_DATABASE_RESET = False

FLASK_ADMIN_SWATCH = 'Flatly'
SECRET_KEY = <SOME SECRET KEY>
