Flask-SQLAlchemy
sqlalchemy_utils
mysqlclient
flask-migrate
flask-marshmallow
marshmallow-sqlalchemy
flask-script
flask-admin
flask-login
flask-bcrypt
flask-cors
Flask-Mail
sentry-sdk[flask]==0.14.1
gunicorn