<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('html_blueprint.static', filename='slick/slick.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('html_blueprint.static', filename='slick/slick-theme.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('html_blueprint.static', filename='css/home.css') }}">
    </head>
  <body>
    <header id="navbar">
        <img class="logo" src="{{url_for('html_blueprint.static', filename='img/logo_dark.png')}}" alt="Jedi Order">
        <nav>
          <ul class="nav__links">
            <li>
              <a href="#">Something 1</a>
            </li>
            <li>
              <a href="#">Something 2</a>
            </li>
            <li>
              <a href="#">Something 3</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="cta"><button>Logout</button></a>
      </header>
    <div id="sidebar">
      <span><input id="searchbar" onkeyup="search()" type="text" name="search" placeholder="Search..."></span>
      <span><button id="addbutton" onclick='on("new");'>Add</button></span>
      <ul id="list" style="list-style-type:none">
        <li class="animals"><a href="">cat</a></li>
        <li class="animals"><a href="">dog</a></li>
        <li class="animals"><a href="">jzkj</a></li>
        <li class="animals"><a href="">cjdjb</a></li>
        <li class="animals"><a href="">jkbxk</a></li>
        <li class="animals"><a href="">yihuh</a></li>
        <li class="animals"><a href="">jhgxjk</a></li>
        <li class="animals"><a href="">ugxie</a></li>
        <li class="animals"><a href="">hkdjb</a></li>
        <li class="animals"><a href="">opj;n</a></li>
        <li class="animals"><a href="">iuekbj </a></li>
        <li class="animals"><a href="">ihxkjbs</a></li>
        <li class="animals"><a href="">cjbkdm</a></li>
        <li class="animals"><a href="">ucdbjm</a></li>
      </ul>
    </div>
    <div id="team">
      <div class="each-item">
        <div><a href="#"><img class="team-img" src="https://picsum.photos/100/100?random=1"/><h5>random 1</h5></a></div>
      </div>
    </div>
    <div id="mainapp">
      <div class="team-details">
        <h1 id="team-title">Title</h1>
        <p id="team-description">Some Random Paragraph hvwkdbjckhvdkhcvwdvchvsdlcvwdhlcv ldhsvcv</p>
      </div>
      <div class="app">
        <div class="lists">
          <div class="swimlane">
            <h2 >TODO</h2>
            <div class="list" id="TODO">
              <div class="list-item" draggable="true">List Item 1</div>
             
            </div>
          </div>
          <div class="swimlane">
            <h2>DOING</h2>
            <div class="list" id="DOING">
              <div class="list-item" draggable="true">List Item 1</div>
            </div>
          </div>
          <div class="swimlane">
            <h2>DONE</h2>
            <div class="list" id="DONE">
              <div class="list-item" draggable="true">List Item 1</div>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay" onclick="off()">
        <div id="text">
          <div class="jumbotron">
            <div id="details">
              <center><b id="id1">task title</b><br></center>
              <center><i id="id2">task description</i><br></center>
              <center>Status: <span id="id3">in progress</span><br></center>
              <center>Reporter: <span id="id4">vishakha</span><br></center>
              <center>Asignee: <span id="id5">ekta</span><br></center>
              <center>Task Start Date: <span id="id6">21-07-2020</span><br></center>
              <center>Task Deadline: <span id="id7">29-09-2020</span><br></center>
              <center>Priority: <span id="id8">rohit</span><br></center>
              <center>Actual End Date: <span id="id9">null</span><br></center>
            </div>
          <div id="includedContent">
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <h1>footer</h1>
    </div>
  </body>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://haltu.github.io/muuri/scripts/vendor/muuri-0.8.0.js"></script>
  <script src="{{ url_for('html_blueprint.static', filename='js/home.js') }}"></script>
</html>