<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('html_blueprint.static', filename='slick/slick.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('html_blueprint.static', filename='slick/slick-theme.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('html_blueprint.static', filename='css/home.css') }}">
    </head>
  <body>
    <header id="navbar">
        <img class="logo" src="{{url_for('html_blueprint.static', filename='img/logo_dark.png')}}" alt="Jedi Order">
        <nav>
          <ul class="nav__links">
            <li>
              <a href="#">Vishakha Shah</a>
            </li>
            <li>
              <a href="#">Nitheesh Chandra</a>
            </li>
            <li>
              <a href="#">Ekta Goyal</a>
            </li>
          </ul>
        </nav>
        <div>
          <a href="/api/v1/accounts/logout" id="user"><button>User</button></a>
          <a href="/api/v1/accounts/logout?web=1" class="user-profile"><button>Logout</button></a>
      </div>
      </header>
    <div id="sidebar">
      <span><input id="searchbar" onkeyup="search()" type="text" name="search" placeholder="Search..."></span>
      <span><button id="addbutton" onclick='on("new");'>Add</button></span>
      <ul id="list" style="list-style-type:none">
        {% for task in user.as_reporter %}
        <li class="reporter_task"><a href="{{url_for('api_blueprint.get_team_tasks',team_id=task.team.id, task_id=task.id)}}">{{task.team.name}} / {{task.title}}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div id="team">
      <div class="each-item">
        <div><a href="#"><img class="team-img" src="https://picsum.photos/100/100?random=1"/><h5>My tasks</h5></a></div>
        {% for team in user.teams %}
          <div id="{{team.id}}" onclick="onclick_load_team(this);"><a href="#team{{team.id}}"><img class="team-img" src="#" style="background-color:'#aaaaaa'"/><h5>{{team.name}}</h5></a></div>
        {% endfor %}
      </div>
    </div>
    <div id="mainapp">
      <div class="team-details">
        <h1 id="team-title">My tasks</h1>
        <p id="team-description">These are all my tasks, that are yet to be completed</p>
      </div>
      <div class="app">
        <div class="lists">
          <div class="swimlane">
            <h2 >TODO</h2>
            <div class="list" id="TODO">
              {% for task in user.as_assignee %}
                {% if task.task_status == "TODO" %}
                <div class="list-item" draggable="true">{{task.title}}</div>
                {% endif %}
              {% endfor %}
             
            </div>
          </div>
          <div class="swimlane">
            <h2>DOING</h2>
            <div class="list" id="DOING">
              {% for task in user.as_assignee %}
                {% if task.task_status == "DOING" %}
                <div class="list-item" draggable="true">{{task.title}}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="swimlane">
            <h2>DONE</h2>
            <div class="list" id="DONE">
              {% for task in user.as_assignee %}
                {% if task.task_status == "TODO" %}
                  <div class="list-item" draggable="true">{{task.title}}</div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div id="overlay" onclick="off()">
        <div id="text">
          <div class="jumbotron">
            <div id="details">
              <center><b id="id1">task title</b><br></center>
              <center><i id="id2">task description</i><br></center>
              <center>Status: <span id="id3">in progress</span><br></center>
              <center>Reporter: <span id="id4">vishakha</span><br></center>
              <center>Asignee: <span id="id5">ekta</span><br></center>
              <center>Task Start Date: <span id="id6">21-07-2020</span><br></center>
              <center>Task Deadline: <span id="id7">29-09-2020</span><br></center>
              <center>Priority: <span id="id8">rohit</span><br></center>
              <center>Actual End Date: <span id="id9">null</span><br></center>
            </div>
          <div id="includedContent">
            
          </div>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <h1>footer</h1>
    </div>
  </body>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
  <script src="https://haltu.github.io/muuri/scripts/vendor/muuri-0.8.0.js"></script>
  <script src="{{ url_for('html_blueprint.static', filename='js/home.js') }}"></script>
</html>