<html>
    <head>
        <title>{{ title }} - Microblog</title>
        <style>
          
/* Board */

.board {
  position: relative;
  margin-left: 1%;
}
.board-column {
  position: absolute;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 1.5%;
  background: #f0f0f0;
  border-radius: 3px;
  z-index: 1;
}
.board-column.muuri-item-releasing {
  z-index: 2;
}
.board-column.muuri-item-dragging {
  z-index: 3;
  cursor: move;
}
.board-column-header {
  position: relative;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  padding: 0 20px;
  text-align: center;
  background: #333;
  color: #fff;
  border-radius: 3px 3px 0 0;
}
@media (max-width: 600px) {
  .board-column-header {
    text-indent: -1000px;
  }
}
.board-column.todo .board-column-header {
  background: #4A9FF9;
}
.board-column.working .board-column-header {
  background: #f9944a;
}
.board-column.done .board-column-header {
  background: #2ac06d;
}
.board-column-content {
  position: relative;
  border: 10px solid transparent;
  min-height: 95px;
}
.board-item {
  position: absolute;
  width: 100%;
  margin: 5px 0;
}
.board-item.muuri-item-releasing {
  z-index: 9998;
}
.board-item.muuri-item-dragging {
  z-index: 9999;
  cursor: move;
}
.board-item.muuri-item-hidden {
  z-index: 0;
}
.board-item-content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
  box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
}
@media (max-width: 600px) {
  .board-item-content {
    text-align: center;
  }
  .board-item-content span {
    display: none;
  }
}
        </style>
    </head>
    <body>
        <header>Hello, {{ user.name }}!</header>
        <section class="kanban-demo">

            <h2 class="section-title"><span>{{ user.id }}</span></h2>
      
            <div class="board muuri" style="height: 445px;">
              <div class="board-column todo muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="board-column-header" style="opacity: 1; transform: scale(1);">To do</div>
                <div class="board-column-content muuri" style="height: 395px;">
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>1</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(75px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>2</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(150px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>3</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(225px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>4</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(300px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>5</div></div>
                </div>
              </div>
              <div class="board-column working muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(280px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="board-column-header" style="opacity: 1; transform: scale(1);">Working</div>
                <div class="board-column-content muuri" style="height: 395px;">
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>6</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(75px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>7</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(150px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>8</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(225px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>9</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(300px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>10</div></div>
                </div>
              </div>
              <div class="board-column done muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(560px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="board-column-header" style="opacity: 1; transform: scale(1);">Done</div>
                <div class="board-column-content muuri" style="height: 395px;">
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(0px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>11</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(75px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>12</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(150px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>13</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(225px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>14</div></div>
                  <div class="board-item muuri-item muuri-item-shown" style="left: 0px; top: 0px; transform: translateX(0px) translateY(300px); display: block; touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><div class="board-item-content" style="opacity: 1; transform: scale(1);"><span>Item #</span>15</div></div>
                </div>
              </div>
            </div>
      
          </section>
          <script src="https://haltu.github.io/muuri/scripts/vendor/muuri-0.8.0.js"></script>
          <script>
            document.addEventListener('DOMContentLoaded', function () {

              var docElem = document.documentElement;
              var kanban = document.querySelector('.kanban-demo');
              var board = kanban.querySelector('.board');
              var itemContainers = Array.prototype.slice.call(kanban.querySelectorAll('.board-column-content'));
              var columnGrids = [];
              var dragCounter = 0;
              var boardGrid;
            
              itemContainers.forEach(function (container) {
            
                var muuri = new Muuri(container, {
                  items: '.board-item',
                  layoutDuration: 400,
                  layoutEasing: 'ease',
                  dragEnabled: true,
                  dragSort: function () {
                    return columnGrids;
                  },
                  dragSortHeuristics: {
                    sortInterval: 0,
                    minDragDistance: 0,
                    minBounceBackAngle: 0
                  },
                  dragContainer: document.body,
                  dragReleaseDuration: 400,
                  dragReleaseEasing: 'ease'
                })
                .on('dragStart', function (item) {
                  ++dragCounter;
                  docElem.classList.add('dragging');
                  item.getElement().style.width = item.getWidth() + 'px';
                  item.getElement().style.height = item.getHeight() + 'px';
                })
                .on('dragEnd', function (item) {
                  if (--dragCounter < 1) {
                    docElem.classList.remove('dragging');
                  }
                })
                .on('dragReleaseEnd', function (item) {
                  item.getElement().style.width = '';
                  item.getElement().style.height = '';
                  columnGrids.forEach(function (muuri) {
                    muuri.refreshItems();
                  });
                })
                .on('layoutStart', function () {
                  boardGrid.refreshItems().layout();
                });
            
                columnGrids.push(muuri);
            
              });
            
              boardGrid = new Muuri(board, {
                layoutDuration: 400,
                layoutEasing: 'ease',
                dragEnabled: true,
                dragSortHeuristics: {
                  sortInterval: 0,
                  minDragDistance: 0,
                  minBounceBackAngle: 0
                },
                dragStartPredicate: {
                  handle: '.board-column-header'
                },
                dragReleaseDuration: 400,
                dragReleaseEasing: 'ease'
              });
            
            });
          </script>
    </body>
</html>