<html>
  <head>
    <title>Jedi Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Latest compiled and minified CSS -->
    
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link href="{{ url_for('html_blueprint.static', filename='css/index.css') }}" rel="stylesheet">
  <style>
    #admin {
      position: absolute;
      right: 20px;
      top: 10px;
      padding: 8px 3px;
      background: linear-gradient(to right, #A4123E88 0%, #123EA588 100%);
      z-index: 2;
      border-radius: 5px;
    }
    #admin:hover {
      background: linear-gradient(to right, #A4123Ecc 0%, #123EA5cc 100%);
    }
    #admin a{
      text-decoration: none;
      color: #dfdfdf;
    }
  </style>
  </head>
  <body>
    <div id="admin"><a href="/admin">Admin</a></div>
    <div class="container">
      <div class="left-section">
        <img class="logo" width=100 src="{{ url_for('html_blueprint.static', filename='img/logo_light.png')}}" alt="LOGO">
        <div class="header">
            <h1 class="animation a1">
              {{ current_user.name }}
            </h1>
            {% if  current_user.type == 'admin' %}
              <h4 class="animation a2">Oh..! You are.. beep.. beep.. Admin
            {% else %}
              {%if not request.args.get('error') %}
                <h4 class="animation a2">Log in for entering your dashboard.
              {% else %}
                  <h3 class="animation a2" style="color: indianred;">Logout from current user</h3>
              {% endif %}
            {% endif %}
            {% if current_user.name %}
                <br /><h4 class="animation a3">(Not you?{%if not request.args.get('error') %}do the same
                {% else %}Contact {{current_user.name}}
                {% endif %}
                )</h4>
            {% endif %}
        </div>
        <form class="login" action="{{url_for('api_blueprint.login', only='id')}}" method = "POST">
            <div class="form">
              <input required type="email" class="form-field animation a3" placeholder="Username(Email)" name="username"/>
              <input required type="password" class="form-field animation a4" placeholder="Password" name="password"/>
              <p class="animation a5"><a href="#" onclick="on()">Forgot Password</a></p>
              <input type="submit" class="animation a6" value="LOGIN" />
              <p id="error" class="error_css">Username or password Error</p>
              <p class="error_css">Username or password Error</p>
            </div>
        </form>
      </div>
        <div class="right-section">
             <div class="loading"><img class="logo" src="{{url_for('html_blueprint.static', filename='img/logo_light.png')}}" alt="Jedi Order"></div>
        </div>
    </div>
        <div id="overlay" onclick="off()">
        <center>
            <form class="forget" action="{{url_for('api_blueprint.forget')}}"  method = "POST" >
                <h4 class="animation a1-new">Enter Email, You will get a password via mail.</h4>
                <div class="form">
                  <input required type="text" class="form-field animation a2-new" placeholder="Username(Email)" name="username"/>
                  <input type="submit" class="animation a5-new" value="SUBMIT" />
                </div>
            </form>
        </center>
    </div>


    <!-- <div class="container">
      <h1>Please login</h1>
      <br>
      <form id="loginForm" action="{{url_for('api_blueprint.login', only='id')}}" method="post">
        <input type="text" placeholder="Username" name="username">
         <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div> -->
    <script   src="https://code.jquery.com/jquery-3.4.1.min.js"   integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="   crossorigin="anonymous"></script>
    <script src="{{url_for('html_blueprint.static', filename='js/index.js')}}"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script>document.body.classList.add('js-loading');
      window.addEventListener("load", showPage, false);
      
      function showPage() {
          document.body.classList.remove('js-loading');
      }
      
      
      $(function () {
          $('form.login').submit(function (e) {
              e.preventDefault();
              console.log($('form.login').serialize());
              var url = $(this).attr('action');
              $.ajax({
                  type: 'post',
                  url: url,
                  data: $(this).serialize(),
                  statusCode: {
                      200: function() {
                        {% if path==None %}
                          window.location.href = "{{url_for('html_blueprint.home')}}";
                        {% else %}
                          window.location.href = "{{path}}";
                        {% endif %}
                      },
                      401: function() {
                          document.getElementById("error").style["display"] = "block";
                      },
                      500: function() {
                        alert('500 status code! server error');
                      }
                    }
              });
      
          });
          $('form.forget').submit(function (e) {
              e.preventDefault();
              document.getElementById("sent").style["display"] = "block";
              document.getElementById("sent").innerHTML = "Mail Sending...";
              var url = $(this).attr('action');
              $.ajax({
                  type: 'post',
                  url: url,
                  data: $(this).serialize(),
                  statusCode: {
                      200: function() {
                          document.getElementById("sent").innerHTML = "Mail Sent";
                      },
                      401: function() {
                        document.getElementById("sent").innerHTML = "Mail Not Sent <a style='color:#fff' href='/'>Reload</a>";
                        document.getElementById("sent").style["color"] = "red";
                      },
                      500: function() {
                        alert('500 status code! server error');
                      }
                    }
              });
      
          });
      });
      
      function on() {
        document.getElementById("overlay").style.display = "block";
      }
      
      function off() {
        if(event.target.id==="overlay"){
        document.getElementById("overlay").style.display = "none";
          }
      }
    </script>
<!--// this is the id of the form
$("#loginForm").submit(function(e) {

    e.preventDefault(); // avoid to execute the actual submit of the form.

    var form = $(this);
    var url = form.attr('action');

    $.ajax({
           type: "POST",
           url: url,
           data: form.serialize(), // serializes the form's elements.
           success: function(data)
           {
             console.log(data);
              window.location.replace("{{url_for('html_blueprint.home')}}");
           }
         });


});
    </script>-->
  </body>
</html>